#signUp{
    box-sizing: border-box;
    display: flex;
    height:100vh;
    
}
.left{
    width: 33.33vw;
    background-image: url(https://images.unsplash.com/photo-1509070016581-915335454d19?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}

.right{
    width: 66.66vw;
}

.logo{
    background-color: black;
    opacity: .5;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 25vh;
    width: calc(33.33vw - 10.297px);
    padding: 15px 0px 15px;
}
.logo img{
    height: 12.5vh;
}

.photoCredit{  
    position: absolute;
    bottom:0;
    left:30px;
    font-size: smaller;

}