
:root{
    --right-height:33.33vh;
    box-sizing: border-box;
    --background-color-one:rgba(243, 237, 237, 0.322);
    --image-color-match:rgb(235, 118, 118);
}
body{
    margin: 0;
    font-family:Inter;
}
#signUp{
    display: flex;
    height:100vh;
}
.left{
    width: 33.33vw;
    background-image: url(https://images.unsplash.com/photo-1509070016581-915335454d19?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}

.right{
    width: 66.66vw;
    
    
}

.logo{
    background-color: black;
    opacity: .5;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 25vh;
    width: calc(33.33vw - 4.953px);
    padding: 15px 0px 15px;
}
.logo img{
    height: 12.5vh;
}

.photoCredit{  
    position: absolute;
    bottom:0;
    left:154px;
    font-size: smaller;
}
a{
    text-decoration: none;
    color: white;
}

.formContent{
    display: flex;
    padding:0;
    margin: 0;
}
fieldset{
    border: 0;
}

.form{
    box-shadow: 0px 5px 5px rgb(196, 192, 192);
    padding-top: 10px;

}

.formRight,.formleft{

    width: calc(66.66vw/3);
    padding: 0;
    margin: 0;
}
fieldset div {
    padding-top: 10px;
}
input{
    width: 200px;
    padding: 2px;
    margin: 0;
    box-sizing: border-box;
}
label{
    font-size: 15px;
}

#password:invalid,#confirmPassword:invalid{
    border-color: red;
}
input:focus{
    outline: none !important;
    border: 1px solid blue;
    box-shadow: 1px 1px 5px blue;
}
.doThis{
    font-size: 30px;

}

.words,.createAndLog,.form{
    height: var(--right-height);
    padding-left: 40px;
}

.words{
    font-size: 25px;
    padding-right: 50px;
    background-color: var(--background-color-one);
}
.words .one{
    padding-top: 110px;
}
.words .three{
    padding-top: 15px;
}

.createAndLog{
    padding-top: 40px;
    background-color: var(--background-color-one);
}

button{
    background-color:var(--image-color-match);
    color:white;
    padding: 10px 30px;
    border-radius: 10px;
    border:0;
    box-shadow: 0px 1px 2px grey;
}

.login{
    padding-top:10px
}
.login span{
    color:var(--image-color-match)
}

